<h1>Listing send_messages</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @send_messages.each do |send_message| %>
  <tr>
    <td><%= link_to 'Show', send_message %></td>
    <td><%= link_to 'Edit', edit_send_message_path(send_message) %></td>
    <td><%= link_to 'Destroy', send_message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Send message', new_send_message_path %>
